<head>
    {{- $summary := .Site.Params.description }}
    <meta charset="utf-8" />
    {{- with .Site.Params.ga_verify }}
    <meta name="google-site-verification" content="{{ . }}">
    {{- end }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="{{ $summary }}">
    <meta name="theme-color" content="dark">
    <title>{{ with .Title }} {{ . }} | {{ end }}{{ .Site.Title }}</title>

    <link rel="icon" type="image/png" href="{{ " /icons/favicon.png" | relURL }}" />
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="stylesheet" href="/css/dl-button.css">
    <link rel="stylesheet" href="/css/tg-button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    {{- partial "analytics" }}

    <!-- propeller scripts -->
    <script src="//res.adxplay.com/adxplay/sdk/adxplay.js?a=1&s=.video&c=ADX_uCJFtypuKyMBs_6c&stid=3452260" defer adxplayweb="adxplayweb"></script>
     <!-- btc scripts -->
    <iframe data-aa="1724352" src="//ad.a-ads.com/1724352?size=320x50" style="width:320px; height:50px; border:0px; padding:0; overflow:hidden; background-color: transparent;" ></iframe>
</head>
