.video
  overflow: hidden
  padding-bottom: 56.25%
  position: relative
  height: 0
  margin: 1.5rem 0
  border-radius: 0.6rem
  background-color: var(--bg)
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.17)
  iframe
    left: 0
    top: 0
    height: 100%
    width: 100%
    border: none
    position: absolute
    transform: scale(1.02)
